@import url('https://fonts.googleapis.com/css?family=Bellefair');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
* { margin:0; padding:0; box-sizing:border-box; }
body{
    height: 3500px;
    max-width: 90%;
    /*background: rgb(0,0,255); /* For browsers that do not support gradients */
    /*background: #0093D1; /* Standard syntax (must be last) */
    border:4px solid black;
    margin: auto;
    /* 1em = 16px*/
    line-height: 1.5;
    position: relative;
    padding: 30px;
}
header{
    font-family: "Bellefair", sans serif;
    font-size: 2em;
    text-align: left;
    padding: 70px, 70px, 70px, 70px;
    position: absolute-top;
    width: 100%;
    
    
}
nav{
    font-family: "Bellefair", sans serif;
    font-size: 16px;
    float:right;
    text-transform: lowercase;
    
    
}
main{
    font-family: "Noto", serif;
    font-size: 18px;
    text-align: left;
    max-width:30em;
    padding: 20px;
    max-height: 5000px;
    margin: auto;  
    line-height: 1.5em;
    border-color: 000;
    font-color:#000;
    
    
}
/*.clearfix:after{
    visibility:hidden;
    height:0;
    font-size:0;
    content:"hello";
    display:block;
    clear: both;
*/    
}
#about
{
    font-family: "Bellefair", sans serif;
    font-size: 18px;
    text-align: left;
    max-width: 30em;
    padding-bottom: 20px;
    max-height: 3px;
    margin: auto;
    line-height: 1.5em;
    border-bottom: 1px solid, #6e6e6e;
    display: block;
    background-color: #423f07;
    border-bottom: 1px solid #262626;
    
}
#featured{
    {
    font-family: "Bellefair", sans serif;
    font-size: 18px;
    text-align: left;
    max-width: 30em;
    padding-bottom: 20px;
    max-height: 3px;
    margin: auto;
    line-height: 1.5em;
    border-bottom: 1px solid, #6e6e6e;
    display: block;
    background-color: #820D21;
    border-bottom: 1px solid #262626;
}
#article
{
    font-family: "Bellefair", sans serif;
    font-size: 18px;
    text-align: left;
    max-width: 30em;
    padding-bottom: 20px;
    max-height: 3px;
    margin: auto;
    line-height: 1.5em;
    border-bottom: 1px solid, #6e6e6e;
    display: block;
    background-color: #005275;
    border-bottom: 1px solid #262626;
}
#recent
{
 font-family: "Bellefair", sans serif;
    font-size: 18px;
    text-align: left;
    max-width: 30em;
    padding-bottom: 20px;
    max-height: 3px;
    margin: auto;
    line-height: 1.5em;
    border-bottom: 1px solid, #6e6e6e;
    display: block;   
    background-color: #005275;
    border-bottom: 1px solid #262626;
}
}
#wrapper
{
    height: 3500px;
    background: #1F19CC;
    max-width: 1700px;
    padding: 20px;
    border:30px solid black;
    margin: 0 auto;
    outline-style: solid;
    border-color: #FFE2B8;
}
/*#left{
    background-color: #74FF53;
    border:1px black solid;
    padding:20px;
    float:left;
    width: 35%;
    position: relative;
}
*/
/*#right{
    background-color: #E86822;
    border:1px black solid;
    padding: 20px;
    float: right;
    width:62%;
    position:relative;
}
*/
h1, h2, h3{
    font-family: "Bellefair", sans serif;
    font-weight: normal;
    
}
h4{
    font-family: "Bellefair", sans serif;
    font-size:16px;
    text-align:left;
    max-width: 50em;
    padding-bottom: 20px;
    max-height: 3000px;
    margin: auto;
    line-height: 1.5em;
}
a {
    text-decoration:none; 
    text-decoration-color: blue; 
    
}
p{
    font-family: "Bellefair", sans serif;
    font-size: 1em;
    text-align: left;
    max-width: 50em;
    line-height: 1.3em;
    margin: auto;
    
}
footer{
    background-color: #FF9383;
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    font-family: "Bellefair"
    
}
img {
    width: 50%;
    height: 25%;
}
}


