@import url('https://fonts.googleapis.com/css?family=Bellefair');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
* { margin:0; padding:0; box-sizing:border-box; }
body{
    /*background: rgb(0,0,255); /* For browsers that do not support gradients */
    background: #2812B2; /* Standard syntax (must be last) */
    /* 1em = 16px*/
    line-height: 1.5;
    position: relative;
    font-family: "Noto", serif;
    font-size: 16px;
    color:#fff;
}
section {
    padding:5em 0;
}
nav{
    font-family: "Bellefair", sans serif;
    float:right;
    text-transform: lowercase;
}
#column1{
    width: 42%
    /*background-color: #1ECC14;*/
    float: left;
}
#column2{
    width: 42%
    /*background-color: #EB7F00;*/
    float: left;
}
.clearfix:after{
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear: both;
    height:0;
}
.wrapper{
    background: #0093D1;
    max-width: 1700px;
    padding:2em;
    margin: 0 auto;
    
}
h1, h2, h3{
    font-family: "Bellefair", serif;
    font-weight: normal;
}
h4{
    font-weight: normal;
    padding-bottom: 20px;
     /*margin: auto;*/   
}
a {
    text-decoration:none; 
    color: orange; 
}

footer{
    background-color: #B84A66;
    text-align: center;
    font-family: "Bellefair";
    padding:2em 0; 
}
img {
    width: 50%;
}
@media only screen and (max-width:500px) {
    li {
        display:block;
        padding: 5px;
    }
    nav{
        float: none;
    }
}


